body {
  padding: 0;
  margin: 0;
  background-color: #F4D04E;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Figtree", sans-serif;
  gap: 10vh;
}

header, footer {
  color: #111111;
  text-align: center;
}

header {
  margin-top: 10vh;
}

.container {
  align-self: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 390px;
  box-shadow: 10px 10px 0px black;
}

& .main-img{
  width: 100%;
  border-radius: 10px;
}

.card-content-status {
  background-color: #F4D04E;
  font-size:medium;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.card-content-title {
  font-size: x-large;
  font-weight: 900;
}


.card-content-p {
  color: #6B6B6B;
  font-size: large;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer-avatar {
  padding-right: 20px;
  width: 30px;
}

.card-footer-text {
  font-size: small;
  font-weight: 800;
}
