body {
  padding: 0;
  margin: 0;
  background-color: #F4D04E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  color: #111111;
  text-align: center;
}

.container {
  align-self: center;
}
